
/* This overrides the Tailwind variable that controls the 'xl' breakpoint site-wide */
:root {
  --breakpoint-xl: 2440px !important;
}

/* This targets the specific combination you found in the inspector */
.mx-auto.flex.max-w-screen-xl,
.max-w-screen-xl {
  max-width: 2000px !important;
  width: 100% !important; /* Adjust the 90% if it feels too close to the edges */
}



/* Controls the actual Markdown body text (The "Prose") */
.prose {
  max-width: 1100px !important; 
}



/* Controls the actual abstract and autors footer in articles pages*/
.max-w-prose {
    max-width: 100ch;
}


/* Force 2 columns in education in bio landing page */
.xl\:grid-cols-3 {
    @media (width >= 80rem) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
}
}



/* Gap between the two skill columns in experience page */
#section-resume-skills > .grid {
  gap: calc(var(--spacing) * 15);
}
  